.layout__side-menu{
  width: 500px !important;
  padding-top: 0 !important;
}
.layout__body{
  margin-left: 500px !important;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(239, 241, 244, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eff1f4;
  border-radius: 10px;
}

.custom-loader{
  margin: auto;
  height: 30px !important;
  width: 100% !important;
  padding-top: 0.5em !important;
  padding-bottom: 0 !important;
}

.caret {
cursor: pointer;
-webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

