.layout__side-menu{
  width: 500px !important;
  padding-top: 0 !important;
}
.layout__body{
  margin-left: 500px !important;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(239, 241, 244, 0);
  box-shadow: inset 0 0 5px rgba(239, 241, 244, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #eff1f4;
  border-radius: 10px;
}

.custom-loader{
  margin: auto;
  height: 30px !important;
  width: 100% !important;
  padding-top: 0.5em !important;
  padding-bottom: 0 !important;
}
